*{
    margin: 0;
    padding: 0;
}

.container{
    width: 800px;
    background-color: rgb(75, 29, 161);
    margin: 0px auto;
    padding: 0px 100px;
    color: #FFF;
}

img{
    padding: 0px 30px;
}